In [4]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)

In [13]:
pokemon.sort_values().head(10)
pokemon.sort_values(ascending=False).head(6)

794    Zygarde50% Forme
695            Zweilous
46                Zubat
631               Zorua
632             Zoroark
286           Zigzagoon
Name: Pokemon, dtype: object

In [56]:
google = pd.read_csv("google_stock_price.csv",squeeze=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [57]:

google = google.sort_values()
google.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [58]:
google.sort_values(ascending=False, inplace=True)
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64